@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.project-container {
    font-family: Space Mono, monospace;
    background-color: #242424;
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.project-text {
    font-family: Space Mono, monospace;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 6vh;
}

.project-text h1 {
    font-family: Space Mono, monospace;
    font-size: 53px;
}

.project-text span {
    background-color: #70e660;
    height: 5px;
    width: 40px;
    border-radius: 5px;
}

.p-main {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 0;
    gap: 100px;
}

.p-main .p-card {
    width: 1200px;
    max-width: 90%;
    height: 400px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.77);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.77);
    transition: all 0.3s ease-in-out;
}

.p-main .p-card:hover {
    -webkit-box-shadow: 1px 6px 56px -7px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 1px 6px 56px -7px rgba(0, 0, 0, 0.77);
    box-shadow: 1px 6px 56px -7px rgba(0, 0, 0, 0.77);
    scale: 1.01;
}

.p-main .p-card .left {
    width: 27%;
    height: 100%;
    background-color: #181a1b;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    color: #fff;
    gap: 10px;
}

.p-main .p-card .left .container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    gap: 10px;
}

.p-main .p-card .left .container h1 {
    font-family: Space Mono, monospace;
    margin: 0;
}

.p-main .p-card .left .container p {
    margin: 0;
}

.p-main .p-card .left .container span {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.p-main .p-card .left .container button {
    font-family: Space Mono, monospace;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    border: none;
    color: #fff;
    background-color: #242424;
    padding: 11px 13px;
    cursor: pointer;
}

.p-main .p-card .left .container div {
    width: max-content;
    height: max-content;
    margin-top: 10px;
}

.p-main .p-card .left .container div button {
    background-color: #70e660;
    color: #181a1b;
    padding: 15px 20px;
    transition: all 0.5s ease-in-out;
}

.p-main .p-card .left .container div button:hover {
    -webkit-box-shadow: 1px 6px 56px -7px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 1px 6px 56px -7px rgba(0, 0, 0, 0.77);
    box-shadow: 1px 6px 56px -7px rgba(0, 0, 0, 0.77);
    transform: translateY(-4px);
}

.p-main .p-card .right {
    width: 73%;
    height: 100%;
}

.p-main .p-card .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:850px) {
    .p-main .p-card {
        flex-direction: column;
        height: 650px;
    }

    .p-main .p-card .left,
    .p-main .p-card .right {
        width: 100%;
    }

    .p-main .p-card .left {
        padding: 0;
    }
}

@media screen and (max-width:490px) {
    .project-text h1 {
        font-family: Space Mono, monospace;
        font-size: 2.8rem;
    }
}