@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  width: 100%;
  background-color: var(--dark);
  background-color: #181A1B;
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: block;
  width: 8px;
  background: #2b2a2a;
}

*::selection {
  background-color: #70e660;
  color: #242424;
}

body::-webkit-scrollbar-thumb {
  background-color: #70e660;

  border-radius: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}